body {
  background-color: white;
}

/* NAVBAR CSS */

.navBar {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.navButton button {
  font-family: poppins;
  background-color: white;
  color: hsl(322, 100%, 66%);
  border: 1px solid hsl(322, 100%, 66%);
  border-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 700;
}

/* BODY CONTAINER CSS */

/* 1.   TOP HEADING CSS */

.bodyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 200px;
  padding-right: 200px;
}

/* whole text div */

.topText {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 20px;
  text-align: center;
  padding-bottom: 30px;
}

/* BUID THE COMMUNITY..... */

.topHead {
  /* border: 1px solid blue; */
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 25px;
  font-family: poppins, sans-serif;
}
/* HUDDLE re-imagines... */

.descriptionText {
  /* border: 1px solid red; */
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  width: 550px;
  font-family: poppins, sans-serif;
  text-align: center;
}

/* Get started for free */

.topButton button {
  background-color: hsl(322, 100%, 66%);
  border: none;
  font-family: poppins, sans-serif;
  color: white;
  padding: 10px;
  border-radius: 50px;
  padding: 20px;
  font-size: 20px;
  padding-right: 60px;
  padding-left: 60px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  font-family: poppins, sans-serif;
}

/* UI image */

.uiIMAGE {
  padding-top: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.uiIMAGE img {
  width: 80%;
}

/* NUMBERS */

.stats {
  margin-top: 100px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.NumStat {
  /* border: 1px solid blue; */
  font-family: poppins, sans-serif;
  font-size: 80px;
  font-weight: 700;
}

.messageStat {
  /* border: 2px solid yellow; */
  display: flex;
  color: rgb(121, 116, 116);
  align-items: center;
  justify-content: center;
  font-weight: 400;
  margin-top: 10px;
  font-size: 25px;
  font-family: poppins, sans-serif;
}

/* IMAGES + CONTENT */

.features {
  /* border: 2px solid black; */
  margin-top: 120px;
}

.feature {
  /* border: 2px solid black; */
  display: flex;
  align-items: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: hsl(207, 100%, 98%) ;
}

.feature2 {
  /* border: 2px solid black; */
  display: flex;
  align-items: column;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.featureImg{
  overflow: hidden;
  width: 50%;
}
.featureImg2{
  overflow: hidden;
  width: 50%;
}
.featureImg{
  overflow: hidden;
  width: 50%;
  padding-right: 80px;
} 
.featureImg2{
  overflow: hidden;
  width: 50%;
  padding-left: 80px;
} 
.featureImg img{
  /* border: 1px solid blue; */
  width: 100%;
}
.featureImg2 img{
  /* border: 1px solid blue; */
  width: 100%;
}
.featureText{
  /* border: 1px solid red; */
  width: 50%;
  align-items: center;
  justify-content: center;
  padding-left: 80px;
  margin-right: 40px;
}

.featureTextHead{
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 30px;
}

.featureTextContent{
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.bkgTop img {
  margin-top: 100px;
  width: 100%;
  margin-bottom: -5px;
}
.bkgBottom img {
  width: 100%;
  margin-bottom: 150px;
}

/* TEXT */

.textReady{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 150px;
}
.Rtext{
  font-family: poppins, sans-serif;
  font-size: 30px;
  font-weight: 700;
}
/* .Rbtn{
  font-family: poppins, sans-serif;
  font-weight: 400;
} */
.Rbtn{
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-size: 20px;
  background-color: hsl(322, 100%, 66%);
  color: white;
  border-radius: 60px;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* FOOTER */

.footerContainer{
  /* border: 1px solid white; */
  display: flex;
  justify-content:space-around;
  /* align-items: center; */
  gap: 10px;
  background-color: hsl(192, 100%, 9%);
  color: white;
  font-family: poppins, sans-serif;
  padding: 60px;
}

#info{
  /* border: 1px solid white; */
  padding-right: 10px;
}

#footerImg{
  /* border: 1px solid red; */
  margin-bottom: -5px;
  width: 100%;
}

#logo{
  /* border: 1px solid snow; */
  padding-left: 0;
  width: 70%;
}

#info{
  font-size: 15px;
  padding-right: 10px;
}
.phoneMail{
  /* border: 1px solid white; */
}
.phonecontainer{
  /* border: 1px solid blue; */
  display: flex;
  align-items: column;
  font-size: 13px;
}

#phonelogo{
  /* border: 1px solid red; */
  padding-left: 10px;
}
#maillogo{
  /* border: 1px solid white; */
}

.rightFooterContainer{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  font-family: poppins, sans-serif;
  align-items: center;
  gap: 20px;
}

.newsLetter{
  padding-top: 20px;
}

.submitMail{
    display: flex;
    justify-content: center;
}

.logoContainer{
  margin-top: 30px;
  margin-left: 5px;
}

.logoContainer img{
  width: 40%;
}


#inputBtn {
  border: none;
  border-radius: 7px ;
  color: white;
  background-color: hsl(322, 100%, 66%);
  width: 150px;
}


#inputBox{
  /* border: 1px solid red; */
    border-radius:120px ;
    font-size: 30px;
    width: 300px;
    height: 40px;
    margin-right: 20px;
}



/* MOBILE VIEW */

@media screen and (max-width: 600px) {
  .stats {
    margin-top: 100px;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .stat {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 800px) {
  .featureImg {
    /* border: 1px solid green; */
    overflow: hidden;
    width: 100%;
    padding: 80px;
  }
  .feature {
    display: flex;
    flex-direction: row;
  }

  .feature{
    display: flex;
    flex-direction: column;
  }
  .feature2{
    display: flex;
    flex-direction: column-reverse;
  }
  .featureImg{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .featureImg img{
    width: 70%;
  }
  .featureImg2{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .featureImg2 img{
    width: 70%;
  }

  .footerContainer{
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column-reverse;
  justify-content:space-around;
  align-items: center;
  gap: 50px;
  background-color: hsl(192, 100%, 9%);
  color: white;
  font-family: poppins, sans-serif;
  padding: 60px;
}

.footerImg{
  margin-bottom: -5px;
  width: 100%;
}

.submitMail{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 10px;
}

#inputBtn {
  border: none;
  border-radius: 7px ;
  color: white;
  background-color: hsl(322, 100%, 66%);
  width: 150px;
}

}