
.navBarContainer{
    background-color: rgb(223, 232, 237);
    display: flex;
    font-family:sans-serif;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(132, 175, 239);
    border-top: 2px solid rgb(132, 175, 239);-
}
.leftNavBar{
    display: flex;
    flex-direction: row;
    font-size: 25px;
}
#home{
    padding-right: 50px;
    padding-left: 45px;
}#about {
    padding-right: 50px;
}#gallery {
    padding-right: 50px;
}

.infoButton{
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: white;
    color: rgb(36, 33, 48);
    background-color: rgb(252, 253, 255);
    border: 2px solid #0d2390;
}
.rightNavBar{
    padding-right: 50px;
}

.bodyContainer{
    display: flex;
    flex-direction: column;
}

.images{
    border: 1px solid black;
    size: 1px;
    display: flex;
    height: 200px;
    border: 15px;
}





